<article>
    <h1>Events Found</h1>
    <h2>Search Term: {{eventSearchTerm}}</h2>
    <a href="/events">Search For Another Event</a>
    {{#if errorMsg}}
        <div id="error" class="error">{{errorMsg}}</div>
    {{else}}
        <div id='error' class='error' hidden></div>
    {{/if}}

    <table id="eventsTable">
        <tr>
            <th>Title</th>
            <th>Owner(s)</th>
            <th>Description</th>
            <form action="/events/searchPage/filterPriority" method="POST" id="search-priority-form">
                <label for="filterPriority"></label>
                <th>
                    Priority
                    <select name="priorityOrder" id="filterPriority">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                    <input type="hidden" id="eventSearchOption" name="eventSearchOption" value="{{eventSearchOption}}"/>
                    <input type="hidden" id="eventSearchTerm" name="eventSearchTerm" value="{{eventSearchTerm}}"/>
                    {{!-- <input type="hidden" id="eventSearch" name="eventSearch" value="{{eventSearch}}"/> --}}
                    <button type="submit">Filter</button>
                </th>
            </form>
            <th>Deadline</th>
        </tr>
        {{#each events}}
        <tr>
            <td><a href = "/events/view/{{this._id}}">{{this.title}}</a></td>
            <td>{{this.owners}}</td>
            <td>{{this.description}}</td>
            <td>{{this.priority}}</td>
            <td>{{this.deadline}}</td>
        </tr>
        {{/each}}
    </table>
    <br>
    
</article>
