<article>
    <h1>Events Found</h1>
    <h2>Search Term: {{eventSearch}}</h2>
    <section>
        <ul>
            {{#each events}}
            <li>
                <a href = "/events/searchPage/{{this._id}}">{{this.title}}</a>
            </li>
            {{/each}}
        </ul>
    </section>

    <table id="eventsTable">
        <tr>
            <th>Title</th>
            <th>Owner(s)</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Deadline</th>
        </tr>
        {{#each events}}
        <tr>
            <td><a href = "/events/searchPage/{{this._id}}">{{this.title}}</a></td>
            <td>{{this.owners}}</td>
            <td>{{this.description}}</td>
            <td>{{this.priority}}</td>
            <td>{{this.deadline}}</td>
        </tr>
        {{/each}}
    </table>
</article>