<!--
    To use this partial, pass in these arguments into the render:
    params: comment // use 'comment = convertApi.prettifyComment(comment, true/false)' so the comment renders properly. The true/false arg determines whether comments are displayed with a link to delete the comment
-->

<div id='{{params._id}}' class='comment-post-container'>
    <div class='event-flex-container event-flex-container-center-align'>
        <h3 class='comment-title'>{{params.owner}}</h3>
        {{#if params.showDelete}}
            <a
                class='event-edit-gear'
                href='/events/delete/comment/{{params._id}}'
            >Delete</a>
        {{/if}}
    </div>
    {{#if params.commentExists}}
        <p class='comment-post'>{{{params.comment}}}</p>
    {{else}}
        <p class='comment-post italics'>(No Comment)</p>
    {{/if}}
    <span>({{params.createdOn}})</span>
</div>