<form
    id='create-event-form'
    class='center-element'
    action='/events/create'
    method='POST'
>
    <h2>Create an Event</h2>

    <label for='input-title'>
        Title<span class='event-form-require'>*</span>:
    </label><br />
    <input
        id='input-title'
        name='input_title'
        value='{{titleView.value}}'
        required
    />
    <br />
    {{#if titleView.noError}}
        <div id='input-title-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-title-error' class='event-form-error'>
            {{titleView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <label for='input-desc'>
        Description<span class='event-form-require'>*</span>:
    </label><br />
    <textarea
        id='input-desc'
        name='input_desc'
        required
    >{{descView.value}}</textarea>
    <br />
    {{#if descView.noError}}
        <div id='input-desc-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-desc-error' class='event-form-error'>
            {{descView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <label for='input-priority'>
        Priority<span class='event-form-require'>*</span>:
    </label><br />
    <input
        id='input-priority'
        type='number'
        name='input_priority'
        value='{{priorityView.value}}'
        required
    />
    <br />
    {{#if priorityView.noError}}
        <div id='input-priority-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-priority-error' class='event-form-error'>
            {{priorityView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <label for='input-date'>
        Deadline Date<span class='event-form-require'>*</span>:
    </label><br />
    <input
        id='input-date'
        type='date'
        name='input_date'
        value='{{dateView.value}}'
        required
    />
    <br />
    {{#if dateView.noError}}
        <div id='input-date-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-date-error' class='event-form-error'>
            {{dateView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <label for='input-time'>
        Deadline Time<span class='event-form-require'>*</span>:
    </label><br />
    <input
        id='input-time'
        type='time'
        name='input_time'
        value='{{timeView.value}}'
        required
    />
    <br />
    {{#if timeView.noError}}
        <div id='input-time-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-time-error' class='event-form-error'>
            {{timeView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <button id='submit-button' type='submit'>Create Event</button>
</form>