<form
    id='edit-event-form'
    class='center-element'
    action='/events/edit/{{eventId}}'
    method='POST'
>
    <input name='_method' value='PUT' hidden />

    <h2>Edit an Event</h2>

    <div class='event-flex-container'>
        <label class='event-input-label' for='input-title'>
            Title<span class='event-form-require'>*</span>:
        </label>
        <input
            id='input-title'
            name='input_title'
            class='event-input-fill'
            value='{{{titleView.value}}}'
            required
        />
    </div>
    {{#if titleView.noError}}
        <div id='input-title-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-title-error' class='event-form-error'>
            {{titleView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <label for='input-desc'>
        Description<span class='event-form-require'>*</span>:
    </label><br />
    <textarea
        id='input-desc'
        name='input_desc'
        required
    >{{{descView.value}}}</textarea>
    <br />
    {{#if descView.noError}}
        <div id='input-desc-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-desc-error' class='event-form-error'>
            {{descView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <div class='event-flex-container'>
        <label class='event-input-label' for='input-priority'>
            Priority<span class='event-form-require'>*</span>:
        </label>
        <input
            id='input-priority'
            type='number'
            name='input_priority'
            class='event-input-fill'
            value='{{priorityView.value}}'
            required
        />
    </div>
    {{#if priorityView.noError}}
        <div id='input-priority-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-priority-error' class='event-form-error'>
            {{priorityView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <div class='event-flex-container'>
        <label class='event-input-label' for='input-date'>
            Deadline Date<span class='event-form-require'>*</span>:
        </label>
        <input
            id='input-date'
            type='date'
            name='input_date'
            class='event-input-fill'
            value='{{dateView.value}}'
            required
        />
    </div>
    {{#if dateView.noError}}
        <div id='input-date-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-date-error' class='event-form-error'>
            {{dateView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <div class='event-flex-container'>
        <label class='event-input-label' for='input-time'>
            Deadline Time<span class='event-form-require'>*</span>:
        </label>
        <input
            id='input-time'
            type='time'
            name='input_time'
            class='event-input-fill'
            value='{{timeView.value}}'
            required
        />
    </div>
    {{#if timeView.noError}}
        <div id='input-time-error' class='event-form-error' hidden></div>
    {{else}}
        <div id='input-time-error' class='event-form-error'>
            {{timeView.errorMsg}}
        </div>
    {{/if}}

    <br />

    <button id='submit-button' class='center-element' type='submit'>
        Save Changes
    </button>
</form>