<!--
    To use this partial, pass in these arguments into the render:
    {
        titleExists: event.title.trim().length > 0,
        descExists: event.description.trim().length > 0,
        noCommentsExist: !event.comments.length,
        showView: true/false,   // true -> shows 'View' link that redirects to /event/view/{eventId}
        showEdit: true/false,   // true -> shows 2 'Edit' links that redirects to /event/edit/{eventId} and /event/edit/{eventId}/comments
        showDelete: true/false, // true -> shows 'Delete' link that redirects to /event/delete/{eventId}
        event // use 'event = convertApi.prettifyEvent(event, true/false)' so the event renders properly. The true/false arg determines whether comments are displayed with a link to delete the comment
    }
-->

<article class='event-widget center-element'>
    <div class='event-flex-container event-flex-container-center-align'>
        {{#if titleExists}}
            <h2 class='event-title'>{{{event.title}}}</h2>
        {{else}}
            <h2 class='event-title italics'>(No Title)</h2>
        {{/if}}
        <span>
            {{#if showView}}
                <a class='event-edit-gear' href='/events/view/{{event._id}}'>View</a>
            {{/if}}
            {{#if showEdit}}
                <a class='event-edit-gear' href='/events/edit/{{event._id}}'>Edit</a>
            {{/if}}
            {{#if showDelete}}
                <a class='event-edit-gear' href='/events/delete/{{event._id}}'>Delete</a>
            {{/if}}
        </span>
    </div>

    <div class='event-flex-container event-flex-container-right-align'>
        {{#if descExists}}
            <p class='event-post'>{{{event.description}}}</p>
        {{else}}
            <p class='event-post italics'>(No Description)</p>
        {{/if}}
    </div>

    <span>Priority: {{event.priority}}</span><br />
    <span>Deadline: {{event.deadline}}</span>

    <div class='event-comment-container'>
        <div class='event-flex-container event-flex-container-center-align'>
            <h2>Comments:</h2>
            {{#if showEdit}}
                <a
                    class='event-edit-gear'
                    href='/events/edit/{{event._id}}/comments'
                >Edit</a>
            {{/if}}
        </div>

        <div class='event-flex-container event-flex-container-right-align'>
            {{#if noCommentsExist}}
                <p class='event-post italics'>(No Comments)</p>
            {{else}}
                {{#each event.comments}}
                    {{> commentWidget params=this}}
                {{/each}}
            {{/if}}
        </div>
    </div>
</article>