{{!
    To use this partial, pass in an eventView into the render
    Use 'eventView = convertApi.eventToEventView(...)' using the event to get the eventView
    Make sure to do 'event = convertApi.prettifyEvent(...)' so the event renders properly
}}

<article class='event-widget center-element'>
    <div class='event-flex-container event-flex-container-center-align'>
        {{#if eventView.titleExists}}
            <h2 class='event-title'>{{eventView.event.title}}</h2>
        {{else}}
            <h2 class='event-title italics'>(No Title)</h2>
        {{/if}}
        <span class='event-flex-container event-flex-container-center-align'>
            {{#if eventView.showView}}
                <a class='event-gear' href='/events/view/{{eventView.event._id}}'>View</a>
            {{/if}}
            {{#if eventView.showEdit}}
                <a class='event-gear' href='/events/edit/{{eventView.event._id}}'>Edit</a>
            {{/if}}
            {{#if eventView.showDelete}}
                <a class='event-gear' href='/events/delete/{{eventView.event._id}}'>Delete</a>
            {{/if}}
        </span>
    </div>

    <div class='event-flex-container event-flex-container-right-align'>
        {{#if eventView.descExists}}
            <p class='event-post'>{{eventView.event.description}}</p>
        {{else}}
            <p class='event-post italics'>(No Description)</p>
        {{/if}}
    </div>

    <span>Priority: {{eventView.event.priority}}</span><br />
    <span>Deadline: {{eventView.event.deadline}}</span>

    <div class='event-comment-container'>
        <div class='event-flex-container event-flex-container-center-align'>
            <h2>Comments:</h2>
            {{#if eventView.showEdit}}
                <a
                    class='event-gear'
                    href='/events/edit/{{eventView.event._id}}/comments'
                >Edit</a>
            {{/if}}
        </div>

        <div class='event-flex-container event-flex-container-right-align'>
            {{#if eventView.noCommentsExist}}
                <p class='event-post italics'>(No Comments)</p>
            {{else}}
                {{#each eventView.event.comments}}
                    {{> commentWidget params=this}}
                {{/each}}
            {{/if}}
        </div>
    </div>
</article>